

<div class="container">
  <!-- <div class="row text-center" style="display: block;">
       <img class="wow fadeInDown" data-wow-delay="0.5s" src="assets/images/eco.jpg">    
  </div> -->
  
  <div class="container text-center circles">
    <div class="row">      
      <div data-wow-delay="0.5s" class="wow rollIn" style="visibility: visible; animation-delay: 0.5s; animation-name: rollIn;">
        <p class="circle bg-green">IoT in SWMS</p>      
      </div>  
      
      </div> 
    <div class="row">    
      
        <div data-wow-iteration="5" data-wow-duration="0.15s" class="wow pulse" style="visibility: visible; animation-duration: 5s; animation-iteration-count: 5; animation-name: pulse;">
        <p class="circle bg-blue"> Evolution</p>    
      </div>      
    </div>      
    <div class="row">      
      <div data-wow-delay="1s" class="wow bounceInRight" style="visibility: hidden; animation-delay: 1.5s; animation-name: none;">
        <p class="circle bg-purple">IoT in SWMS</p>
      </div>
    </div>   
  
</div>

</div>

<style>
  
  .circle {
    margin: 25px 10px;
    width: 200px;
    color: #fff;
    font-size: 32px;
    line-height: 200px;
    text-align: center;
    height: 200px;
    border-radius: 200px;
    position: absolute;
    left: 10%;
    top: 15%;
    z-index: -1;
    animation: animationFramesOne 20s infinite linear;
}
.bg-green {
    background: #5bd5a0;
}
.bg-yellow {
    background: #ffcc35;
}
.bg-blue {
    background: #1daee9;
}
.bg-red {
    background: #eb3980;
}
.bg-purple {
    background: #32b338;
}
.row{display:inline-flex;}
</style>


<!-- <div class="startup-home-area"><div _ngcontent-ng-c1106005750="" class="d-table">
  <div class="d-table-cell">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
        <div class="hero-content">
          <span>We are a startup Agency</span>
          <h1>Business Makes Success <b>Strategy</b></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolet suspendisse ultrices gravida. </p>
          <div class="startup-btn"><a routerlink="/" class="startup-btn-one" ng-reflect-router-link="/" href="/ervy/">Get A Quote <i _ngcontent-ng-c1106005750="" class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div  class="col-lg-6 col-md-12"><div class="startup-image">
        <img src="assets/images/garbage.jpg" data-wow-delay="0.6s" alt="image" class="wow animate__ animate__fadeInUp animated" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"></div>
      </div>
      <div class="startup-shape">
        <img src="assets/images/startup-shape.png" alt="image"></div>
      </div>
    </div>
  </div
  ></div>
  <div class="shape-img1"><img src="assets/images/shape1.svg" alt="image"></div>
  <div class="shape-img2"><img src="assets/images/shape2.svg" alt="image"></div>
  <div class="shape-img3"><img src="assets/images/shape3.png" alt="image"></div>
  <div class="shape-img4"><img src="assets/images/shape4.png" alt="image"></div>
  <div  class="shape-img5"><img src="assets/images/shape6.png" alt="image"></div>
</div> -->
<!-- ======= Featured Services Section ======= -->
<!-- <section id="featured-services" class="featured-services section-bg">
      <div class="container">

        <div class="row no-gutters">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trade stravi</p>
            </div>
          </div>
        </div>

      </div>
    </section> -->
<!-- End Featured Services Section -->

<!-- your element with arrow (you can also put it inside div with clas "card-body", just use !last to hide arrow in last element -->


<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About Us</h2>
      <p><span class="word">TerraWaste </span><span class="word1"> Technologies</span> (TWT), Established in 2006. We are expert in processes waste management specialists
        plan, implement, and coordinate comprehensive waste management systems that are designed to maximize waste
        prevention, reuse, and recycling opportunities. We involved in all stages of a project, for example establishing
        a company’s waste management goals and objectives, working with employees to help implement waste management
        policies, and evaluating the success of management plans.</p>
    </div>

    <!-- <div class="container1">
   <div class="vermiprocess">
<div class="box arrow-bottom">
  <h3 style="text-align: center; color:#ffffff; font-size: 24px;">Vermicompost Shed</h3>
  <img src="assets/images/vermished.jpg" style="width:96%; height:180px; margin: 5px;">
</div>
<div class="box arrow-bottom">
  <h3 style="text-align: center; color:#ffffff; font-size: 24px;">Vermi Feeding</h3>
  <img src="assets/images/vermifeeding.jpg" style="width:96%; height:180px; margin: 5px;">
</div>
<div class="box arrow-bottom">
  <h3 style="text-align: center; color:#ffffff; font-size: 24px;">Worm Release</h3>
  <img src="assets/images/wormreleased.png" style="width:96%; height:180px;  margin: 5px;">
</div>
<div class="box arrow-bottom">
  <h3 style="text-align: center; color:#ffffff; font-size: 24px;">Worm Released</h3>
  <img src="assets/images/wormrelease.jpg" style="width:96%; height:180px; margin: 5px;">
</div>
<div class="box">
  <h3 style="text-align: center; color:#ffffff; font-size: 24px;">Worm Collection</h3>
  <img src="assets/images/wormcollection.png" style="width:96%; height:180px;  margin: 5px;">
</div>
</div>

        <!-- <div class="section-title">
        <h2>Who We Do?</h2>
      </div>
      <div>
            <div class="demo-content bg-alt text-box">
            <img class="bulletin" src="assets/images/tick.png"> Solid Waste Management<br>
                  <img class="bulletin" src="assets/images/tick.png"> All processes machineries for handling fresh waste segregation<br>
                  <img class="bulletin" src="assets/images/tick.png"> Compost manure, Biogas, Plastic paver block/tiles production<br>
                  <img class="bulletin" src="assets/images/tick.png"> Transport for handling all types of waste; battery cars, bin & associated equipments<br>
                  <img class="bulletin" src="assets/images/tick.png"> Biomining of Legacy Waste<br>
                  <img class="bulletin" src="assets/images/tick.png"> Turnkey Processes<br>
                  <img class="bulletin" src="assets/images/tick.png"> Operations and Maintenance<br>
                  <img class="bulletin" src="assets/images/tick.png"> Foundry Equipments<br>
                  <img class="bulletin" src="assets/images/tick.png"> Waste Plastics To Fuel Oil Production<br>
                  <img class="bulletin" src="assets/images/tick.png"> Materials Handling System<br>
                  <img class="bulletin" src="assets/images/tick.png"> Recycled Polymer Sand Composite Materials Manufacturing<br>
                  <img class="bulletin" src="assets/images/tick.png"> Pre-Cured Tire Retreading Plant & Equipments<br>
                  <img class="bulletin" src="assets/images/tick.png"> Blending, Cleaning and Packing Solution For Food Products<br>
                  <img class="bulletin" src="assets/images/tick.png"> Plant Automation
          </div>
        </div> -->
  </div>

</section>


<!-- End About Us Section -->

<!-- ======= Why Us Section ======= -->

<!-- End Why Us Section -->

<!-- ======= Services Section ======= -->


<section id="services" class="team section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p>Waste management is intended to reduce the adverse effects of waste on human health, the environment, planetary resources, and aesthetics. The aim of waste management is to reduce the dangerous effects of such waste on the environment and human health.</p>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
        <div class="member" (click)="gotoPage('/service')">
          <img src="assets/images/garbage.jpg" alt="">
          <h4>Garbage Collection</h4>
          <!-- <span>Garbage Collector</span> -->
          <p>
            A garbage collector is employed to collect and manage household waste in a area.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
        <div class="member" (click)="gotoPage('/IOT')">
          <img src="assets/images/swm.png" alt="">
          <h4>Smart Waste Management Systems Using IoT</h4>
          <!-- <span>Product Manager</span> -->
          <p>
            Our Smart Waste Management Systems Using IoT can significantly streamline waste management processes easily and accurately. 
          </p>         
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->


<!-- <section class="main-section">
            <div class="row">
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100"></div>
        <div class="card">MOBILE WORKFORCE ATTENDANCE</div>
        <div class="card">MOBILE APPLICATIONS FOR CITIZENS</div>
        <div class="card">ROUTE OPTIMISATION</div>
        <div class="card">ASSET MONITORING & MANAGEMENT</div>
        <div class="card">VEHICLE TRACKING S/W & HARDWARE</div>
        <div class="card">CUSTOMIZED MIS REPORTS </div>
        <div class="card">INTEGRATED SWM SOFTWARE</div>
        <div class="card">SECURITY & IDENTITY MGMT SOFTWARE</div>
        <div class="card">DATA ANALYTICS, KPI & SLA MONITORING S/W</div>
        <div class="card">CUSTOMIZED DASHBOARDS & WEB PORTAL </div>
        <div class="card">MOBILE APPLICATIONS FOR STAFF</div>
        <div class="card">WEIGHBRIDGE AUTOMATION & CONNECTIVITY</div>
        </div>
      </section>   -->


<!-- End Services Section -->

<!-- ======= Portfolio Section ======= -->
<!-- <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section> -->
<!-- End Portfolio Section -->

<!-- ======= Team Section ======= -->


<section id="team" class="team section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Team</h2>
      <p>“Teamwork is the secret that makes common people achieve uncommon results.” </p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/team/team-1.jpg" alt="">
          <h4>Walter White</h4>
          <span>Chief Executive Officer</span>
          <p>
            Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/team/team-2.jpg" alt="">
          <h4>William Anderson</h4>
          <span>Product Manager</span>
          <p>
            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/team/team-3.jpg" alt="">
          <h4>William Anderson</h4>
          <span>CTO</span>
          <p>
            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      <p>Submit your contact info to get in touch with our Customer Experience Team</p>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Flat No 101, Surya Mansion, Vysya Bank Colony, Old Bowenpally, Secunderabad, Telungana -500011, India.</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@twt.bio</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+91 1111111111</p>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15222.914447493791!2d78.4826428!3d17.4726988!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9b80650c197b%3A0xc5482330a3407d76!2sSurya%20Mansion%20Apartment!5e0!3m2!1sen!2sin!4v1718796056580!5m2!1sen!2sin"  frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3805.7285052347165!2d78.48006787390807!3d17.47270390034425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1718795765002!5m2!1sen!2sin" style="border: 0; width: 100%; height: 290px" allowfullscreen></iframe> -->
          <!-- <iframe
            src="https://maps.app.goo.gl/gAyMMCwLsZFydTEdA"
            frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6 mt-3 mt-md-0">
              <label for="name">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="name">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group mt-3">
            <label for="name">Message</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->

<app-scroll-to-top></app-scroll-to-top>