<!-- 
<style>
  .fonthead{
    letter-spacing: 4px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgb(27, 27, 27);
    text-transform: uppercase;

  }
.center{text-align: center;}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

 

  .content {
    display: flex;
    margin: 182px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
   
  }
.fontcontent{
  font-family: 'Playfair Display', Georgia, serif;
    font-size: 35px !important;
    white-space: pre-line;
    font-weight: 400;
    color: rgb(27, 27, 27);
    line-height: 1.2;
    word-wrap: break-word;
}
  

  footer {
    margin-top: 280px;
    display: flex;
    align-items: center;
    line-height: 20px;
    color: rgb(89, 89, 89);
    font-size: 14px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

 
  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>


<h2 class="fonthead center">TERRA WASTE TECHNOLOGIES</h2>
<div class="content" role="main">

  
  <h1 class="fontcontent">Under Renovation</h1>
  

  <footer>
    Copyright © 2024 TWT - All Rights Reserved.
  </footer>

  

</div> -->


<router-outlet></router-outlet>
