
<div class="flex-container">
    <div class="flex-item-left">
        <img src="assets/images/geofence.png" class="geoimage">


    </div>
    <div class="flex-item-right">

        <h2 class="title"  style="color: #fff;">Vehicle Tracking and Schedule System</h2>
        <ul>
            <li>
                The vehicle attached with RFID reader, GPS receiver, GSM module and ultrasonic sensors and the
                houses attached with RFID tag.
            </li>
            <li>
                GPS in this intelligent solidwaste system is used for tracking the position of the vehicle and
                location.</li>
            <li>Trucks are departed from the hub to collect the waste from the users.(Citizens)</li>
            <li>GPS tracker is installed in the trucks and the real time monitoring of the trucks can be performed.
            </li>
            <li>Capturing exact current location through data on latitudes, longitudes of Stoppages, Routes and
                parking yards</li>
            <li>Also capture the total duration to cover a specific route assigned. Provide an average data
                through the week andmonth.</li>
            <li>Warning alerts will be sent if the vehicle moves out of geo-fenced perimeter.</li>
        </ul>
    </div>
</div>

<section id="services" class="team section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Web Portal</h2>
            <p>In accordance with the Provision 24 (4) of the Solid Wastes Management Rules, 2016, the Central Pollution
                Control Board (CPCB) is required to prepare a Consolidated Annual Report (CAR) and forward it to the
                Central Government (Ministry of Environment, Forests and Climate Change) along with
                suggestions/recommendations.</p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="assets/images/portal.png" alt="">
                    <!-- <h4>CAR</h4> -->
                    <!-- <span>Garbage Collector</span> -->
                    <p>
                        Consolidated Annual Report (CAR) from 2019-2023
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                <div class="member1">
                    <ul>
                        <li>Web based Monitoring and Control</li>
                        <li>Flexible Attendance Policies Creation</li>
                        <li> Early-In, Early-Out, Late-In, Late-Out, Overtime, Overnight
                            Shifts, Shift Schedules, Manual Attendance Correction can be
                            performed</li>
                        <li>Customised Dashboards and Web portal</li>
                        <li>Customised MIS Reports.</li>
                        <li> Integrate Leave & Holiday concepts into the Muster Analytics</li>
                        <li>Calculate Payroll efficiently as per the company policy </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->
 <section id="services" class="team section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Mobile App for Citizens</h2>
            <div class="row">
                <div class="col-lg-8 col-md-6 d-flex align-items-stretch">
                    <div class="member1">
                        <ul>
                            <li>User can download the android or iOS app from the Playstore or Appstore.</li>
                            <li>User can pay their garbage collection fee via mobile app.</li>
                            <li>The mobile app provides real time status of garbage collection operations in their
                                locality and ward.</li>
                            <li>The Citizens can see expected time of Arrival of Door to Door (DTD) garbage pickup
                                trucks</li>
                            <li>The Citizens can receive push notification before 10 minutes of truck arrival for their
                                location.</li>
                            <li>The app provides to receive push messages for promotion and awareness programs
                                related to solid waste with text and pictures or videos.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/images/citizenapp.jpg" class="geoimage">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="flex-container1">
   
    <div class="flex-item-left1">

        <h2 class="title">Mobile App for Citizen</h2>
        <ul>
            <li>User can download the android or iOS app from the Playstore or Appstore.</li>
                            <li>User can pay their garbage collection fee via mobile app.</li>
                            <li>The mobile app provides real time status of garbage collection operations in their
                                locality and ward.</li>
                            <li>The Citizens can see expected time of Arrival of Door to Door (DTD) garbage pickup
                                trucks</li>
                            <li>The Citizens can receive push notification before 10 minutes of truck arrival for their
                                location.</li>
                            <li>The app provides to receive push messages for promotion and awareness programs
                                related to solid waste with text and pictures or videos.</li>
        </ul>
    
    </div>
    <div class="flex-item-right1">
        <img src="assets/images/citizenapp.jpg" class="geoimage">


    </div>
</div> -->
<section id="services" class="team section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Attendance System – Mobile App</h2>
            <div class="banner-card">
                <img src="assets/images/attendance.jpg">
                <div class="banner-text">
                    <ul>
                        <li  style="color:#fff"> Employees can mark their attendance via mobile app.</li>
                        <li  style="color:#fff"> Real time Attendance of employees canbe captured.</li>
                        <li  style="color:#fff"> Real-time position of vehicle shall be displayed on the
                            map. </li>
                        <li  style="color:#fff">The staff shall be able to get trip details like distance
                            travelled and next stop.</li>
                        <li  style="color:#fff"> Region wise Supervisors can manually mark their
                            workforce Attendance – from their mobile app.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="team section-bg">
<div class="container1">
    
   
    <div class="section-title">
        <h2 style="color: #fff;">Weighbridge Automation System</h2>
        </div>
        <ul>
            <li>
                The proposed system entails installing RFID readers at weighbridge sites to automate data collection, making
                weighbridge operations independent of operators.
            </li>
            <li>
                Each weighbridge will have an RFID reader to identify vehicles upon arrival, with data automatically transmitted to
the central server.</li>
            <li>Authenticated vehicles only can enter the Weigh bridge - boom barrier. Upon authentication, the boom barrier
                open sand allows the vehicle to pass through the weigh bridge.</li>
            <li>Weighing information from any available weighbridge application will also be captured and interfaced with the
                central server via broadband connectivity.
            </li>
            <li>The trucks entering the weighbridge captures the truck in and out time.</li>
            <li>The weight of the waste collected can be synced to the software with the vehicle details.</li>
            <li>Average waste collected by a vehicle in a route through the week and month are provided for analysis</li>
            <li>This web-based architecture will provide real-time visualization of data.</li>
        </ul>
    </div>
</section>

<section id="services" class="team section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Data Analytics</h2>
            <div class="row">
                <div class="col-lg-8 col-md-6 d-flex align-items-stretch">
                    <div class="member1">
                        <ul>
                            <li>Daily report – Employee Attendance</li>
                            <li>Summary report – Employee Attendance</li>
                            <li> Employee average working time</li>
                                <li>Route wise summary</li>
                                    <li>Daily / monthly vehicle wise weighing</li>
                                        <li>Trucks failed to collectthe wastes from the house hold reports</li>
                                            <li>Wastes collected from the household reports.</li>
                                                <li>Citizens fees paid and pending fees reports</li>
                                                    <li>Wastes collected reports</li>
                                                        <li>Employees complete attendance based on daily basis and geneate payroll report</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">                  
                        <img src="assets/images/analytics.jpg" class="analytics">                                   
                </div>
            </div>
        </div>
    </div>
</section>
<app-scroll-to-top></app-scroll-to-top>